<!DOCTYPE html>
<html>
	<% include header.ejs %>
	<div class="text-center" style="margin-top: 2rem;">
			<% if (movie.torrents) { %>
			<div class="quality"> Choose your quality :
			<% movie.torrents.forEach(function(element) { %>
				<form action="/cinema" method='POST' style="display:inline-flex;"> <!-- Ici meme faille que en bas -->
					<input type='hidden' value='<%- a%>' id='movie' name='i'>
					<input type="hidden"  value='<%= api %>' id="api" name="api">
					<input type='submit' value="<%= element['quality'] %>" id='quality' name='quality'>
				</form>
		<% }) %></div><% } %>
		<script>
			$('#player').on('play', function (event) {
				$(this).removeClass('loading');
				$(this).attr('poster', '');
			});
			
		   </script>
		   
		<video id="player" preload="auto" controls name="media" style="width: 90vw;">
			<source id="okay" src="<%-path%>" type="video/mp4">
				<track label="<%-pathSub[2]%>" kind="subtitles" srclang="<%-pathSub[2]%>" src="<%-pathSub[0]%>" default>
				<track label="<%-pathSub[3]%>" kind="subtitles" srclang="<%-pathSub[3]%>" src="<%-pathSub[1]%>">
		</video>
		<script>

				movie = '<%-eschtml(JSON.stringify(movie))%>'
				hash = '<%- hash%>'
				path = '<%- path %>';
				$.ajax({
					url: '/video/',
					type: "GET",
					data: {hash: hash},
					datatype: 'JSON',
					success: function(result)
					{
					},
					error: function(err, Status){
                }
				});
			</script>

	</div>
	<div class="col-10 offset-1 infos">
		<img src="<% if (movie.cover) { %><%- movie.cover %><% } else if (movie.large_cover_image) { %><%- movie.large_cover_image %><% } else if (movie.medium_cover_image) { %><%- movie.medium_cover_image %><% } %>" alt="Cover torrent img" class="img-responsive" width="30%" height="30%">
		<div style="color:white" class="col">
			<h1 style="text-align: center; margin-top:1rem;text-shadow: 6px 6px 6px rgb(77, 0, 0);"><%- movie.title %></h1><hr/>
			<div class="col-10 offset-1" style="margin-top:2em; margin-bottom:2em;">
							<% if (movie.rating) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Rating : ") %></i><b><%- movie.rating %></b></h5> <% } %>
							<% if (movie.language) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Language : ") %> </i><b><%- movie.language %></b></h5> <% } %>
							<% if (movie.year) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Year : ") %></i><b><%- movie.year %></b></h5> <% } %>
							<% if (movie.genres) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Genres : ") %> </i><b>
								<% var j = 0; while (movie.genres[j]) {  if (movie.genres[j+1]) { %>
								<%- movie.genres[j] + ', ' %><% } else { %><%- movie.genres[j] %><% } j++; } %></b></h5>
							<% } %>
							<% if (movie.runtime) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Runtime : ") %> </i><b><%- movie.runtime + ' min' %></b></h5><% } %>
							<% if (movie.downloads) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Downloads : ") %> </i><b><%- movie.downloads %></b></h5><% } %>
							<% if (movie.creator) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Author : ") %></i><b><%- movie.creator %></b></h5> 
							<% } %>
							<% if (movie.uploaddate) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Upload date : ") %></i><b><%- movie.uploaddate %></b></h5> 
							<% } %>
						</div><hr/>
						<% if (movie.synopsis) { %>
							<div style="padding: 5px;">
								<h4 style="margin-bottom: 5px; text-align: center;"><i><b><%= __("Description : ") %></b></i></h4>
								<div><%- movie.synopsis %></div>
							</div>
						<% } %>
		</div>
	</div>
	<div class="col-10 offset-1 comments">
		<h1 style="margin:1rem;"><% if (typeof coms != 'undefined' && coms) { %>
			<% var i=0;while(coms[i]){i++;} %><% } else { var i = 0; } %><i><span id="changeNumber"><%-i%></span></i> <%= __("Comments") %></h1><hr/>
		<div class="container" id="scrollcom" style="max-height: 50rem; overflow-y: auto;">
		<% if (i > 0) { %>
		<% coms.forEach(function(com) { %>
			<div class="col-12" style="background-color: #171717; padding: 15px; overflow: hidden; margin-bottom:5px;">
			<h5 style="color:#919191;"><%- com.user_login %></h5>
				<p><%- com.comment %></p></div>
		<% }) } else { %>
			<div class="col-12" id="nocom" style="background-color: #171717; padding: 15px; overflow: hidden; margin-bottom:5px;">
				<%= __("No comment yet, be the first to write a comment !") %>
			</div> <% } %>
		</div>
		<div style="display: inline-flex; padding-bottom:0.5rem; padding-top: 0.5rem;" class="col-12">
				<input type="text" class="form-control text-center col-10" id="comment" placeholder="<%= __("Your comment...")%>">
				<input type="submit" class="text-center col-2" style="font-weight: bold; color:white; background-color: #171717;" value="<%= __("Send") %>" name="sub" id="send">
		</div>
		<div id="wait" class="text-right" style="margin: 0 auto; color:red; display: none;">Please wait a few moment.</div>
	</div>
	<% if (typeof suggestions != 'undefined' && suggestions) { %>
	<div class="col-10 offset-1 comments" style="padding-bottom: 2rem;">
		<h1 style="margin:1rem;text-shadow: 1px 1px 3px black;"><%= __("Similar films") %></h1><hr/>
		<div class="text-center col-12" style="padding: 0;">
			<div style="justify-content: space-around;" id="suggestblock">
				<% suggestions.forEach(function(elem) { %>
							<img src="<%- elem.medium_cover_image %>" style="box-shadow: 10px 10px 10px 10px black; margin-top: 1rem;">
				<% }) %>
			</div>
		</div>
	</div>
<% } %>
	<script type="text/javascript">
		var waitforcomment = false;
		function scrolldiv() {
	        document.getElementById('scrollcom').scrollTop = 100000;
	    };
	    function insereCom(comment) {
	    	var div = '<div class="col-12" style="background-color: #171717; padding: 15px; overflow: hidden; margin-bottom:5px;">\
				<h5 style="color:#919191;"><%- profile.login %></h5><p>' + comment + '</p></div>';
	    	$('#scrollcom').append(div);
	    };
		$(document).ready(function() { 

			scrolldiv();
		    $('#comment').keypress(function(e) {
		      if(e.keyCode==13)
		      {
		      	$('#send').click();
		      	this.value='';
		      }
		    });
		});
		$("#send").unbind().click(function postCom() {
			var movie_id = <% if (typeof id != 'undefined') { %><%-id%><%} else {%>'0'<%}%>;
			var comment = document.getElementById("comment").value;
				comment = escapeHtml(comment);
			if (comment != "") {
				if (!waitforcomment) {
					waitforcomment = true;
				setTimeout(function(){ waitforcomment = false; $('#wait').hide(300); }, 4000); 
				$('#changeNumber').html(parseInt($('#changeNumber').html(), 10)+1);
				insereCom(comment);
				$('#comment').val('');
				$('#nocom').hide(500);
				scrolldiv();
				$.post("/comment",
			    {
			        movie_id: movie_id,
			        comment: comment
			    },
			    function(data, status){
			        alert("\nStatus: " + status);
			    }); 
			} else { $('#wait').show(300); } }
		});
		function escapeHtml(text) {
	         var map = {
	           '&': '&amp;',
	           '<': '&lt;',
	           '>': '&gt;',
	           '"': '&quot;',
	           "'": '&#039;'
	         };
	        return text.replace(/[&<>"']/g, function(m) { return map[m]; });
		};
		
		
	</script>
</body>

<% include footer.ejs %>

</html>