<!DOCTYPE html>
<html>
<head>
	<% include header.ejs %>
</head>
<body>
		<h3 class="col-6 offset-3 text-center" style="margin-top: 1rem; color:white">You are looking</h3>
		<h2 class="titre text-center" class="text-center">"<b><i><%- decodeURI(title) %></i></b>"</h2>
	<div class="text-center">
		<div class="quality"> Choose your quality :
		<% if (movie.torrents) { movie.torrents.forEach(function(element) { %>
			<form action='/cinema' method='POST' style="display:inline-flex;">
				<input type='hidden' value='<%-eschtml(JSON.stringify(movie))%>' id='movie' name='movie'>
				<input type='submit' value="<%- eschtml(JSON.stringify(element['quality'])) %>" id='quality' name='quality'>
			</form>
		<% }) } %>
		</div>
	<video id="player" controls preload="auto" autoplay name="media" style="width: 90vw;"><source src="<%-path%>" type="video/mp4"></video>
	
		<script src="back/resources/jquery-3.3.1.min.js"></script>
		<script>

				movie = '<%-eschtml(JSON.stringify(movie))%>'
				hash = '<%-eschtml(JSON.stringify(hash))%>'
				$.ajax({
					url: "/getPath",
					type: "POST",
					data: {movie : movie , hash: hash},
					contentType: 'JSON',
					success: function(result)
					{
						console.log("fpwoekfpowekfpowkfpowkfpkwef");
						$('#player').attr('source', result);
					},
					error: function(err, Status){
                    console.log("Status", Status);
                    console.log("ERR", err);
                }
				});
			</script>

	</div>
	<div class="col-10 offset-1 infos">
		<img src="<%- movie.cover %>" alt="Cover torrent img">
		<div style="background-color: rgb(128, 128, 128);" class="col">
			<h1 style="text-align: center; margin-top:1rem;"><%- movie.title %></h1><hr/>
			<div class="col-10 offset-1" style="margin-top:2em; margin-bottom:2em;">
							<% if (movie.rating) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Rating : ") %></i><b><%- movie.rating %></b></h5> <% } %>
							<% if (movie.language) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Language : ") %> </i><b><%- movie.language %></b></h5> <% } %>
							<% if (movie.year) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Year : ") %></i><b><%- movie.year %></b></h5> <% } %>
							<% if (movie.genres) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Genres : ") %> </i><b>
								<% var j = 0; while (movie.genres[j]) {  if (movie.genres[j+1]) { %>
								<%- movie.genres[j] + ', ' %><% } else { %><%- movie.genres[j] %><% } j++; } %></b></h5>
							<% } %>
							<% if (movie.runtime) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Runtime : ") %> </i><b><%- movie.runtime + ' min' %></b></h5><% } %>
							<% if (movie.downloads) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Downloads : ") %> </i><b><%- movie.downloads %></b></h5><% } %>
							<% if (movie.creator) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Author : ") %></i><b><%- movie.creator %></b></h5> 
							<% } %>
							<% if (movie.uploaddate) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Upload date : ") %></i><b><%- movie.uploaddate %></b></h5> 
							<% } %>
						</div><hr/>
						<% if (movie.synopsis) { %>
							<div style="padding: 5px;">
								<h4 style="margin-bottom: 5px; text-align: center;"><i><b><%= __("Description : ") %></b></i></h4>
								<div><%- movie.synopsis %></div>
							</div>
						<% } %>
		</div>
	</div>
	<div class="col-10 offset-1 comments" style="border: 1px solid green;">
		<h1 style="margin:1rem;">Comments</h1><hr/>
		<div style="border: 1px solid black;" class="container">
			Here there are the comments
		</div>
		<div style="display: inline-flex; padding-bottom:0.5rem; padding-top: 0.5rem;" class="col-12">
				<input type="text" class="form-control text-center col-10" placeholder="<%= __("Your comment...")%>">
				<input type="submit" class="text-center col-2" value="send">
		</div>
	</div>
</body>

<% include footer.ejs %>

</html>