<!DOCTYPE html>
<html>
<head>
	<% include header.ejs %>
</head>
<body>
	<div class="text-center" style="margin-top: 2rem;">
			<% if (movie.torrents) { %>
			<div class="quality"> Choose your quality :
			<% movie.torrents.forEach(function(element) { %>
				<form action="/cinema/<%- element['quality']%>" method='POST' style="display:inline-flex;">
					<input type='hidden' value='<%-eschtml(JSON.stringify(movie))%>' id='movie' name='movie'>
					<input type="hidden"  value='<%- api %>' id="api" name="api">
					<input type='submit' value="<%- eschtml(JSON.stringify(element['quality'])) %>" id='quality' name='quality'>
				</form>
		<% }) %></div><% } %>
	<video id="player" controls preload="auto" autoplay name="media" style="width: 90vw;" src=""><source id="okay" src="" type="video/mp4"></video>
	
		<script src="back/resources/jquery-3.3.1.min.js"></script>

		<script>

				movie = '<%-eschtml(JSON.stringify(movie))%>'
				hash = '<%-eschtml(JSON.stringify(hash))%>'
				$.ajax({
					url: "/getPath",
					type: "POST",
					data: {movie : movie , hash: hash},
					datatype: 'JSON',
					success: function(result)
					{
						setTimeout(function(){
							console.log("getting path ok");
							document.getElementById('okay').src="<%-path%>";
						document.getElementById('player').src="<%-path%>";
}, 25000);
						// var player = '<video id="player" controls preload="auto" autoplay name="media" style="width: 90vw;"><source src="<%-path%>" type="video/mp4"></video>';
						
							// $('player').html(player);
						console.log(document.getElementById('player'));
					},
					error: function(err, Status){
                    console.log("Status", Status);
                    console.log("ERR", err);
                }
				});
			</script>

	</div>
	<div class="col-10 offset-1 infos">
		<img src="<%- movie.cover %>" alt="Cover torrent img" class="img-responsive" width="30%" height="30%">
		<div style="color:white" class="col">
			<h1 style="text-align: center; margin-top:1rem;text-shadow: 6px 6px 6px rgb(77, 0, 0);"><%- movie.title %></h1><hr/>
			<div class="col-10 offset-1" style="margin-top:2em; margin-bottom:2em;">
							<% if (movie.rating) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Rating : ") %></i><b><%- movie.rating %></b></h5> <% } %>
							<% if (movie.language) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Language : ") %> </i><b><%- movie.language %></b></h5> <% } %>
							<% if (movie.year) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Year : ") %></i><b><%- movie.year %></b></h5> <% } %>
							<% if (movie.genres) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Genres : ") %> </i><b>
								<% var j = 0; while (movie.genres[j]) {  if (movie.genres[j+1]) { %>
								<%- movie.genres[j] + ', ' %><% } else { %><%- movie.genres[j] %><% } j++; } %></b></h5>
							<% } %>
							<% if (movie.runtime) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Runtime : ") %> </i><b><%- movie.runtime + ' min' %></b></h5><% } %>
							<% if (movie.downloads) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Downloads : ") %> </i><b><%- movie.downloads %></b></h5><% } %>
							<% if (movie.creator) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Author : ") %></i><b><%- movie.creator %></b></h5> 
							<% } %>
							<% if (movie.uploaddate) { %>
							<h5 style="margin-bottom: 3px;"><i><%= __("Upload date : ") %></i><b><%- movie.uploaddate %></b></h5> 
							<% } %>
						</div><hr/>
						<% if (movie.synopsis) { %>
							<div style="padding: 5px;">
								<h4 style="margin-bottom: 5px; text-align: center;"><i><b><%= __("Description : ") %></b></i></h4>
								<div><%- movie.synopsis %></div>
							</div>
						<% } %>
		</div>
	</div>
	<div class="col-10 offset-1 comments">
		<h1 style="margin:1rem;"><% if (typeof coms != 'undefined' && coms) { %>
			<% var i=0;while(coms[i]){i++;} %><% } else { var i = 0; } %><i><span id="changeNumber"><%-i%></span></i> <%= __("Comments") %></h1><hr/>
		<% if (typeof coms != 'undefined' && coms) { %>
		<div class="container" id="scrollcom" style="max-height: 50rem; overflow-y: auto;">
		<% coms.forEach(function(com) { %>
			<div class="col-12" style="background-color: #171717; padding: 15px; overflow: hidden; margin-bottom:5px;">
			<h5 style="color:#919191;"><%- com.user_login %></h5>
				<p><%- com.comment %></p></div>
		<% }) } else { %>
			<div class="col-12" style="background-color: #171717; padding: 15px; overflow: hidden; margin-bottom:5px;">
				<%= __("No comment yet, be the first to write a comment !") %>
			</div> <% } %>
		</div>
		<div style="display: inline-flex; padding-bottom:0.5rem; padding-top: 0.5rem;" class="col-12">
				<input type="text" class="form-control text-center col-10" id="comment" placeholder="<%= __("Your comment...")%>">
				<input type="submit" class="text-center col-2" style="font-weight: bold; color:white; background-color: #171717;" value="<%= __("Send") %>" name="sub" id="send">
		</div>
	</div>
	<% if (typeof suggestions != 'undefined' && suggestions) { %>
	<div class="col-10 offset-1 comments" style="padding-bottom: 2rem;">
		<h1 style="margin:1rem;text-shadow: 1px 1px 3px black;"><%= __("Similar films") %></h1><hr/>
		<div class="text-center col-12" style="padding: 0;">
			<form action="/cinema" method="POST" style="display: flex;justify-content: space-around;">
				<% suggestions.forEach(function(suggestion) { %>  <!-- Pourquoi ça marche pas ?!?! On recoit tout le tableau suggestions alors que je demande uniquement le film suggestion ... si qqun a une idee -->
				<div>
					<input type="hidden"  value='<%- eschtml(JSON.stringify(suggestion)) %>' id="movie" name="movie">
					<input type="hidden"  value='<%- api %>' id="api" name="api">
					<input type="image" src="<%- suggestion.medium_cover_image %>" style="box-shadow: 10px 10px 10px 10px black; margin-top: 1rem;">
				</div>
				<% }) %>
			</form>
		</div>
	</div>
<% } %>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript">
		function scrolldiv() {
	        document.getElementById('scrollcom').scrollTop = 100000;
	    };
	    function insereCom(comment) {
	    	var div = '<div class="col-12" style="background-color: #171717; padding: 15px; overflow: hidden; margin-bottom:5px;">\
				<h5 style="color:#919191;"><%- profile.login %></h5><p>' + comment + '</p></div>';
	    	$('#scrollcom').append(div);
	    };
		$(document).ready(function() { 
			scrolldiv();
		    $('#comment').keypress(function(e) {
		      if(e.keyCode==13)
		      {
		      	$('#send').click();
		      	this.value='';
		      }
		    });
		});
		$("#send").click(function postCom() {
			var movie_id = <% if (typeof id != 'undefined') { %><%-id%><%} else {%>'0'<%}%>;
			var comment = document.getElementById("comment").value;
				comment = escapeHtml(comment);
			if (comment != "") {
				$('#changeNumber').html(parseInt($('#changeNumber').html(), 10)+1);
				insereCom(comment);
				$('#comment').val('');
				scrolldiv();
				$.post("/comment",
			    {
			        movie_id: movie_id,
			        comment: comment
			    },
			    function(data, status){
			        alert("\nStatus: " + status);
			    }); 
			} 
		});
		function escapeHtml(text) {
	         var map = {
	           '&': '&amp;',
	           '<': '&lt;',
	           '>': '&gt;',
	           '"': '&quot;',
	           "'": '&#039;'
	         };
	        return text.replace(/[&<>"']/g, function(m) { return map[m]; });
	    };
	</script>
</body>

<% include footer.ejs %>

</html>