<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/style.css">
<title>Hypertube</title>
<div class="page-header text-center">
    <div class="container-fluid" style="padding: 0px;">
        <div class="jumbotron" style="margin-bottom: 0px; padding: 1rem;background-image: url('/img/header3.jpg'); background-position: bottom 0px; background-size: 100vw;">
            <% if (typeof profile != 'undefined') { %>
                <div class="col-10">
                  <a href="/" style="text-decoration: none; color:black;"><h1 style="font-weight: bold; font-size: 70px; color:rgb(179, 0, 0);text-shadow: 16px 6px 10px rgb(77, 0, 0);"><i>Hypertube !</i></h1></a>
                  <p class="bloc"><b><%= __("Hypertube is the last project of the 42's web branch. We did it with nodeJS and Bootstrap. Have fun !") %></b></p>
                </div>
            <% } else { %>
                  <a href="/" style="text-decoration: none; color:black;"><h1 style="font-weight: bold; font-size: 70px; color:rgb(179, 0, 0);text-shadow: 16px 6px 16px rgb(77, 0, 0);">Hypertube !</h1></a>
                  <p><b><%= __("Hypertube is the last project of the 42's web branch. We did it with nodeJS and Bootstrap. Have fun !") %> </b></p>
            <% } %>
        </div>
        <% if (typeof profile != 'undefined') { %>
            <div class="pic">
                <div class="pic" style="position:absolute; top:0.5rem; right: 10px; border-radius: 100px; width: 230px; height: 210px; z-index: 4;"></div>
            <a href="/profile"><img src=<%- profile.img %> class="propic" style="position:absolute; top:0.5rem; right: 20px; border-radius: 100px;z-index: 3;"></a>



                <div class="menu-pic bg-dark" style="position: absolute;top:218px; right: 33px;blue; width: 180px; padding: 5px; padding-top:11px; padding-bottom:11px;">
                    <li><a class="menu-deroulant" href="/my_profile" style="text-decoration: none; color:white;"><%= __("My profile") %></a></li><hr/>
                    <li><a class="menu-deroulant" href="/other_profiles" style="text-decoration: none; color:white;"><%= __("Other profiles") %></a></li><hr/>
                    <li><a class="menu-deroulant" href="/logout" style="text-decoration: none; color:white;"><%= __("Logout") %></a></li>
                </div>
            </div>
    </div>
</div>
<nav class="navbar bg-dark">
    <div class="col-12" style="display: inline-flex;">
        <form class="form-inline" action="/index" method="post">
            <input class="form-control mr-2" type="text" placeholder="<%= __("Search..")  %>" name="query">
            <button class="btn btn-dark adv-search" type="submit" value="tpb" name="srch"><%= __("Search on ")%><i style="color:red;">ThePirateBays</i></button>
            <button class="btn btn-dark adv-search" type="submit" value="arc" name="srch"><%= __("Search on ")%><i style="color:red;">archive.org</i></button>
            <button class="btn btn-dark adv-search" type="submit" value="yts" name="srch"><%= __("Search on ")%><i style="color:red;">YTS</i>
            <button class="btn btn-dark adv-search" type="submit" value="xto" name="srch"><%= __("Search on ")%><i style="color:red;">1337X</i>
            <button class="btn btn-dark adv-search" type="submit" value="zoo" name="srch"><%= __("Search on ")%><i style="color:red;">Zooqle</i>
            <div class="adv-search col-12" style="position:absolute;height:20px;width: 150px;"></div>
           <div class="search col-12" style="position:absolute; top:45px; width: 200px;">
            <div style="text-align: left;">
                <label><%= __("Sort by (default:Title)") %></label><hr style="margin:2px 2px 2px 2px;" />
                <label for="downloads"><%= __("Downloads") %><input type="radio" id="downloads" name="sort" value="0" style="margin-left:15px;"></label>
                <label for="likes"><%= __("Likes") %><input type="radio" id="likes" name="sort" value="1" style="margin-left:15px;"></label>
                <label for="year"><%= __("Year") %><input type="radio" id="year" name="sort" value="2" style="margin-left:15px;"></label>
                <label for="date"><%= __("Date added") %><input type="radio" id="date" value="3" name="sort" style="margin-left:15px;"></label>
                <label for="rating"><%= __("Rating") %><input type="radio" id="rating" value="4" name="sort" style="margin-left:15px;"></label>
                <label for="peers"><%= __("Peers") %><input type="radio" id="peers" value="5" name="sort" style="margin-left:15px;"></label>
                <label for="seeds"><%= __("Seeds") %><input type="radio" id="seeds" value="6" name="sort" style="margin-left:15px;"></label>
            </div>
        </div></button>
        </form>
       
    </div>
</nav>
        <% } else { %>
        <nav class="navbar bg-dark">
    <div class="col-12" style="display: inline-flex;">
        <div>
    <a href="login" class="btn btn-dark" style="text-decoration: none;"><%= __("Log In")%></a>
            <a href="register" class="btn btn-dark" style="text-decoration: none;"><%= __("Register")%></a>
            </div>
            <div style="position: absolute; right:0;">
    <a href="https://github.com/login/oauth/authorize?scope=read:user&client_id=64b33bf122900dfa0966&redirect_uri=http://localhost:8080/oauth">
        <button type="button" class="btn button-dark bg-dark" style="color:#e9ecef;">Connect with <i style="color:red;">GitHub</i></button></a>
        <a href="https://api.intra.42.fr/oauth/authorize?client_id=e9d8c67e741dc42f8076e26764e96751113a2956434b46baa131d0739f784127&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Foauth42&response_type=code">
        <button type="button" class="btn button-dark bg-dark" style="color:#e9ecef;">Connect with <i style="color:red;">42</i></button></a>
        <a href="https://graph.facebook.com/oauth/authorize?client_id=271023080199498&redirect_uri=http://localhost:8080/oauthfacebook">
        <button type="button" class="btn button-dark bg-dark" style="color:#e9ecef;">Connect with <i style="color:red;">Facebook</i></button></a>
    </div>
    </div>
       
    </div>
</nav>
        <% } %>
<script src="back/resources/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
