<!DOCTYPE html>
<html>
<head>
	<% include header.ejs %>
</head>
<body>
	<% if (typeof success !== 'undefined' && success && success !== 'none')  { %>
		<div class="alert alert-success col-4 offset-4 text-center" style="margin-bottom: 0px; margin-top: 1rem;">
  			<strong>Success !</strong> <%- success %>
		</div>
	<% } %>
	<% if (typeof error !== 'undefined' && error && error !== 'none')  { %>
		<div class="alert alert-danger col-4 offset-4 text-center" style="margin-top:1rem;">
  			<strong>Error !</strong> <%- __(error) %>
		</div>
	<% } %>
	<% if (typeof movies !== 'undefined' && movies && movies !== 'none')  { %>
		<div class="col-4 offset-1" style="margin-bottom: 0px; margin-top: 1rem;">
  			<h2 style="color:white;font-weight: bold;"><%= __("Top movies") %></h2>
		</div>
		<div class="container-fluid" style="background-color: rgb(10,10,10,0.4); color:white; padding: 0px; margin:auto; margin-top:1em; justify-content: center; text-align: center;">
			<% var i = 0; while (movies[i]) { var title = movies[i].title.toString().replace("/",'_'); %>
				<!-- <a onclick="thismovie(<%-i%>)" style="cursor:pointer; color:#e9ecef; text-decoration: none;" > -->
					<div class="col-2 text-center listfilm1" id="<%- i %>" style="<% if (!movies[i].vue) { %> background-color: black; <% } else { %> background-color: white;<% } %>">
						<form action="/cinema" method="POST">
						<input type="hidden"  value='<%- eschtml(JSON.stringify(movies[i])) %>' id="movie" name="movie">
						<input type="hidden"  value='<%- api %>' id="api" name="api">
						<% if (api != 1) { %>
							<h5 style="padding-top:4px;"><i><%- movies[i].title %></i></h5>
						<% } %>
						<input type="image" src="<%- movies[i].cover %>" alt="Submit Form" class="col-12" style="padding:0">
						<div class="hid">
							<% if (api == 1) { %>
								<h5 style="padding-top:4px;"><i><%- movies[i].title %></i></h5>
							<% } %>
							<div style="background-color: #e9ecef; padding: 2px; color:black;">
								<% if (movies[i].rating) { %>
								<p style="margin-bottom: 3px;"><i><%= __("Rating : ") %></i><b><%- movies[i].rating %></b></p> <% } %>
								<% if (movies[i].language) { %>
								<p style="margin-bottom: 3px;"><i><%= __("Language : ") %> </i><b><%- movies[i].language %></b></p> <% } %>
								<% if (movies[i].year) { %>
								<p style="margin-bottom: 3px;"><i><%= __("Year : ") %></i><b><%- movies[i].year %></b></p> <% } %>
								<% if (movies[i].genres) { %>
								<p style="margin-bottom: 3px;"><i><%= __("Genres : ") %> </i><b>
									<% var j = 0; while (movies[i].genres[j]) {  if (movies[i].genres[j+1]) { %>
									<%- movies[i].genres[j] + ', ' %><% } else { %><%- movies[i].genres[j] %><% } j++; } %></b></p>
								<% } %>
								<% if (movies[i].runtime) { %>
								<p style="margin-bottom: 3px;"><i><%= __("Runtime : ") %> </i><b><%- movies[i].runtime + ' min' %></b></p><% } %>
								<% if (movies[i].downloads) { %>
								<p style="margin-bottom: 3px;"><i><%= __("Downloads : ") %> </i><b><%- movies[i].downloads %></b></p><% } %>
							</div>
							<% if (movies[i].synopsis) { %>
							<div style="background-color: rgb(26, 26, 26); padding: 5px;">
								<p style="margin-bottom: 5px;"><i><b><%= __("Description : ") %></b></i></p>
								<div><%- movies[i].synopsis %></div>
							</div>
							<% } %>
						</div>
						</form>
				</div>
			<% i++; } %>
		</div>
	<% } %>
<script src="back/resources/jquery-3.3.1.min.js"></script>
<script>

</script>
</body>

<% include footer.ejs %>

</html>