<!DOCTYPE html>
<html>
	<% include header.ejs %>
	<% if (typeof success !== 'undefined' && success && success !== 'none')  { %>
		<div class="alert alert-success col-6 offset-3 text-center" style="margin-bottom: 0px; margin-top: 1rem;">
  			<strong>Success !</strong> <%- success %>
		</div>
	<% } %>
	<% if (typeof error !== 'undefined' && error && error !== 'none')  { %>
		<div class="alert alert-danger col-6 offset-3 text-center" style="margin-top:1rem;">
  			<strong>Error !</strong> <%- __(error) %>
		</div>
	<% } %>
	<% if (typeof movies !== 'undefined' && movies && movies !== 'none')  { %>
		<div class="col-4 offset-1" style="margin-bottom: 0px; margin-top: 1rem;">
  			<h2 style="color:white;font-weight: bold;"><%= __("Top movies") %></h2>
		</div>
		<div class="container-fluid 358" style="background-color: rgb(10,10,10,0.4); color:white; padding: 0px; margin:auto; margin-top:1em; justify-content: center; text-align: center;">
			<% var i = 0; while (movies[i]) { var title = movies[i].title.toString().replace("/",'_'); %>
					<div class="srchpic text-center listfilm1 post" id="<%- i %>" style="background-color: black;<% if (movies[i].vue) { %> border:3px solid green; <% } %>">
						<form action="/cinema" method="POST">
						<input type="hidden"  value='<%=i%>' id="i" name="i">
						<% if (api != 1) { %>
							<h5 style="padding-top:4px;"><i><%- movies[i].title %></i></h5>
						<% } %>
						<input type="image" src="<%- movies[i].cover %>" alt="Submit Form" class="col-12" style="padding:0">
						<div class="hid">
							<% if (api == 1) { %>
								<h5 style="padding-top:4px;"><i><%- movies[i].title %></i></h5>
							<% } %>
							<div style="background-color: #e9ecef; padding: 2px; color:black;">
								<% if (movies[i].rating) { %>
								<p style="margin-bottom: 3px;"><i><%= __("Rating : ") %></i><b><%- movies[i].rating %></b></p> <% } %>
								<% if (movies[i].language) { %>
								<p style="margin-bottom: 3px;"><i><%= __("Language : ") %> </i><b><%- movies[i].language %></b></p> <% } %>
								<% if (movies[i].year) { %>
								<p style="margin-bottom: 3px;"><i><%= __("Year : ") %></i><b><%- movies[i].year %></b></p> <% } %>
								<% if (movies[i].genres) { %>
								<p style="margin-bottom: 3px;"><i><%= __("Genres : ") %> </i><b>
									<% var j = 0; while (movies[i].genres[j]) {  if (movies[i].genres[j+1]) { %>
									<%- movies[i].genres[j] + ', ' %><% } else { %><%- movies[i].genres[j] %><% } j++; } %></b></p>
								<% } %>
								<% if (movies[i].runtime) { %>
								<p style="margin-bottom: 3px;"><i><%= __("Runtime : ") %> </i><b><%- movies[i].runtime + ' min' %></b></p><% } %>
								<% if (movies[i].downloads) { %>
								<p style="margin-bottom: 3px;"><i><%= __("Downloads : ") %> </i><b><%- movies[i].downloads %></b></p><% } %>
								<% if (movies[i].creator) { %>
								<p style="margin-bottom: 3px;"><i><%= __("Author : ") %></i><b><%- movies[i].creator %></b></p> 
								<% } %>
								<% if (movies[i].uploaddate) { %>
								<p style="margin-bottom: 3px;"><i><%= __("Upload date : ") %></i><b><%- movies[i].uploaddate %></b></p> 
								<% } %>
								<% if (movies[i].size) { %>
								<p style="margin-bottom: 3px;"><i><%= __("Size : ") %></i><b><%- movies[i].size %></b></p> 
								<% } %>
							</div>
							<% if (movies[i].synopsis) { %>
							<div style="background-color: rgb(26, 26, 26); padding: 5px;">
								<p style="margin-bottom: 5px;"><i><b><%= __("Description : ") %></b></i></p>
								<div><%- movies[i].synopsis %></div>
							</div>
							<% } %>
						</div>
						</form>
				</div>
			<% i++; } %>
		</div>
		<div id="loading" style="color:red; text-align: center; display: none;"><%= __("Loading nexts movies...") %></div>
	<% if (search == undefined) {var search;};if (q == undefined) {var q;}} %>
</body>
<script>
	var delay = 1;
	function escapeHtml(text) {
	         var map = {
	           '&': '&amp;',
	           '<': '&lt;',
	           '>': '&gt;',
			   '"': '&quot;',
	           "'": '&#039;'
	         };
	        return text.replace(/[&<>"']/g, function(m) { return map[m]; });
		};
	var search = '<%-search%>';
	var api = '<%-api%>'
	if (api != '' && '<%-api%>' == 1)
	{
		var position = 1;
		var time = 2;
		var sort = '<%-sort%>';
		$(window).scroll(function () {
			var scrollPercent = Math.round(($(window).scrollTop()) / ($(document).height() - $(window).height()) * 100);
			if (scrollPercent >= 100 && delay == 1) {
				if (time < 15) { $('#loading').show(300); };
				delay = 0;
				$.ajax({
					url: '/search2',
					type: 'POST',
					data: {
						query: '<%=q%>', number: time, sort: sort, srch: '<%-search%>', genres: '<%-genres%>', filtrerating: '<%-rating%>', quality: '<%-qualityk%>'
					},
					success: function(response){
						var i = 0;
						if (time < 15 && response && response.data && response.data.movies)
						{
							while (response.data.movies[i]) 
							{
								var total='';
								var title = response.data.movies[i].title.toString().replace("/",'_')
								if (response.data.movies[i].vue) { var border='border:3px solid green;'} else {border=''}
								total += '<div class="srchpic text-center listfilm1 post" id='+((10 * time) + i)+' style="background-color: black;'+border+'">'
								total += '<form action="/cinema" method="POST">'
								total += '<input type="hidden"  value='+((10 * time) + i - 10)+' id="i" name="i">'
								if (response.data.api != 1) {
									total += '<h5 style="padding-top:4px;"><i>'+response.data.movies[i].title+'</i></h5>'
								}

								total += '<input type="image" src="'+response.data.movies[i].cover+'" alt="Submit Form" class="col-12" style="padding:0">'
								total += '<div class="hid">'
								if (response.data.api == 1) {

									total += '<h5 style="padding-top:4px;"><i>'+response.data.movies[i].title+'</i></h5>'
								}
								total += '<div style="background-color: #e9ecef; padding: 2px; color:black;">'
								if (response.data.movies[i].rating) {
									total += '<p style="margin-bottom: 3px;"><i>Rating :</i><b>'+response.data.movies[i].rating+'</b></p>'
								}
								if (response.data.movies[i].language){
								total += '<p style="margin-bottom: 3px;"><i>Language : </i><b>'+response.data.movies[i].language+'</b></p>'}
								if (response.data.movies[i].year) {
								total += '<p style="margin-bottom: 3px;"><i>Year :</i><b>'+response.data.movies[i].year+'</b></p>'}
								if (response.data.movies[i].genres){
									total += '<p style="margin-bottom: 3px;"><i>Genres : </i>'
									var j = 0; 
									while (response.data.movies[i].genres[j]) 
									{
										if (response.data.movies[i].genres[j+1]) 
										{ 
											total += response.data.movies[i].genres[j]+', '
										}
										else 
										{ 
											total += response.data.movies[i].genres[j]
										}
										j++; 
									} 
									total += '</b></p>'
								}
								if (response.data.movies[i].runtime){
								total += '<p style="margin-bottom: 3px;"><i>Runtime : </i><b>'+response.data.movies[i].runtime + ' min </b></p> '}
								if (response.data.movies[i].downloads){
								total += '<p style="margin-bottom: 3px;"><i>Downloads : </i><b>'+response.data.movies[i].downloads +'</b></p> '}
								if (response.data.movies[i].creator){
								total += '<p style="margin-bottom: 3px;"><i>Author :</i><b>'+response.data.movies[i].creator+' </b></p> '
									} 
								if (response.data.movies[i].uploaddate){
								total += '<p style="margin-bottom: 3px;"><i>Upload date :</i><b>'+response.data.movies[i].uploaddate+' </b></p> '
									} 
								if (response.data.movies[i].size){
								total += '<p style="margin-bottom: 3px;"><i>Size :</i><b>response.data.movies[i].size </b></p> '
									} 
								total += '</div>'
								if (response.data.movies[i].synopsis) { 
								total += '<div style="background-color: rgb(26, 26, 26); padding: 5px;">'
										total += '<p style="margin-bottom: 5px;"><i><b>Description :</b></i></p>'
										total += '<div>'+response.data.movies[i].synopsis+'</div>'
										total += '</div>'
								}
								total += '</div></form></div>'
								$('.358').append(total);
								total = '';
								i++;
							}
							sort = response.data.sort;
						}
						var position = time;
						time++;
						delay = 1;
						$('#loading').hide(300);
					}
				})
			}
		})
	}
</script>
<% include footer.ejs %>
</html>