<!DOCTYPE html>
<html lang="en">
	<% include header.ejs %>
	<% if (typeof error0 !== 'undefined' && error0 && error0 !== 'none')  { %>
		<div class="alert alert-danger col-4 offset-4 text-center" style="margin-bottom: 0px; margin-top: 1rem;">
  			<strong>Error !</strong> <%- __(error0) + ' ' %><a href="/register" class="btn btn-link" style="padding:0px;">Create an account</a>
		</div>
	<% } %>
	<% if (typeof success0 !== 'undefined' && success0 && success0 !== 'none')  { %>
		<div class="alert alert-success col-4 offset-4 text-center" style="margin-bottom: 0px; margin-top: 1rem;">
  			<strong>Success !</strong> <%- __(success0) %>
		</div>
	<% } %>
	<div class="container text-center border-radius divhov" style=" color:white;padding: 25px; margin-top:3em;">
		<form action="/login" method="post">
			<div class="form-group row">
	  			<label for="usr" class="col-2 col-form-label"><%= __("Login")%></label>
	  			<div class="col-9 offset-1">
	  				<input type="text" class="form-control text-center" id="usr" name="login" placeholder="<%= __("Your login...")%>">
	  			</div>
	  		</div>
	  		<div class="form-group row">
	  			<label for="pwd" class="col-2 col-form-label"><%= __("Password")%></label>
	  			<div class="col-9 offset-1">
	  				<input type="password" class="form-control text-center" id="pwd" name="pass" placeholder="<%= __("Your password...")%>">
	  			</div>
			</div>
			<button type="submit" class="btn button-dark bg-primary" style="font-weight:bold; text-decoration: none;"><%= __("Log In")%></button>
		</form>
		<% if (typeof error !== 'undefined' && error && error !== 'none')  { %>
		<div class="alert alert-danger" style="margin-bottom: 0px;">
  			<strong>Error !</strong> <%- __(error) %>
		</div>
		<% } %>
	</div>
	<button class="btn btn-link" onclick="afficher_masquer('forgot');" style="margin-top:2em;text-decoration: none;font-weight: bold;"><i><%= __("Forgot your password ?")%></i></button>
	<div class="col-6 offset-3 text-center border-radius divhov" id="forgot" style="color:white;padding: 15px; padding-top:0px; margin-top:0em; display: none;">
		<form action="forgotpass" method="post">
			<div class="form-group">
	  			<label for="mail" class="col-form-label"></label>
	  				<input type="email" class="form-control text-center" id="mail" name="email" placeholder="<%= __("Your email adress...")%>">
	  		</div>
			<button type="submit" class="btn button-dark bg-primary" style="font-weight:bold; text-decoration: none;"><%= __("Reset my password")%></button>
		</form>
		<% if (typeof error2 !== 'undefined' && error2 && error2 !== 'none')  { %>
		<div class="alert alert-danger" style="margin-bottom: 0px;">
  			<strong>Error !</strong> <%- __(error2) %>
		</div>
		<% } %>
		<% if (typeof success !== 'undefined' && success && success !== 'none')  { %>
		<div class="alert alert-success" style="margin-bottom: 0px;">
  			<strong>Success !</strong> <%- __(success) %>
		</div>
		<% } %>
	</div>
	<script>
		function afficher_masquer(id)
		{
  			if (document.getElementById(id).style.display == 'none')
    			$('#'+id).show(200);
  			else
      			$('#'+id).hide(200);
		}
	</script>
</body>
<% include footer.ejs %>
</html>