<!DOCTYPE html>
<html>
<head>
	<% include header.ejs %>
</head>
<body>
	<div class="container text-center" style="margin-top: 1rem;">
		<img style="border-radius:200px;" src=<%-"img/users/" + profile.id %> width="250" height="250">
	</div>
	<div class="container text-center" style="background-color: rgb(100,100,100,0.5); color:white; padding: 25px; margin-top:1em;">
		<form action="my_profile" method="post" enctype="multipart/form-data">
	  		<div class="form-group row">
					<label for="first" class="col-2 col-form-label">Firstname</label>
					<div class="col-8 offset-2">
					<input class="form-control text-center" type="text" name="firstname" id="first" placeholder="<%- profile.firstname %>">
					</div>
			</div>
			<div class="form-group row">
					<label for="last" class="col-2 col-form-label">Lastname</label>
					<div class="col-8 offset-2">
					<input class="form-control text-center" type="text" name="lastname"  id="last" placeholder="<%- profile.lastname %>">
					</div>
			</div>
			<div class="form-group row">
					<label for="mail" class="col-2 col-form-label">Email</label>
					<div class="col-8 offset-2">
					<input class="form-control text-center" type="email" name="email" id="mail" placeholder="<%- profile.email %>">
					</div>
			</div>
			<div class="form-group row">
					<label for="login" class="col-2 col-form-label">Login</label>
					<div class="col-8 offset-2">
					<input class="form-control text-center" type="text" name="login" id="login" placeholder="<%- profile.login %>">
					</div>
			</div>
			<div class="form-group row">
					<label for="pass" class="col-2 col-form-label">Password</label>
					<div class="col-8 offset-2">
					<input class="form-control text-center" type="password" name="pass" id="pass" placeholder="New password">
					</div>
			</div>
			<div class="form-group row">
					<label for="passc" class="col-2 col-form-label">Confirm</label>
					<div class="col-8 offset-2">
					<input class="form-control text-center" type="password" name="confirmpass" id="passc" placeholder="Confirm new password">
					</div>
			</div>
			<div class="form-group row">
					<label for="lang" class="col-2 col-form-label">Preference</label>
					<div class="col-8 offset-2">
						<select class="custom-select text-center" name=lang id="lang" style="text-align-last:center;">
							<option value="<%- profile.language %>" selected><%- profile.language %></option>
							<option value="English">English</option>
							<option value="Francais">Francais</option>
							<option value="Deutch">Deutch</option>
						</select>
					</div>
			</div>
			<div class="form-group row">
				<label for="imgprofile" class="col-2 col-form-label">Picture</label>
				<div class="col-8 offset-2">
					<input type="file" class="custom-file-input" id="imgprofile" name="pic" accept="image/*">
					<label class="custom-file-label" for="imgprofile" style="z-index: 0; ">Choose file to change...</label>
				</div>
			</div>
			<button type="submit" class="btn btn-link" style="font-weight:bold; font-size: 20px; text-decoration: none;">Update my profile !</button>
		</form>
	<% if (typeof success !== 'undefined' && success && success !== 'none')  { %>
		<div class="alert alert-success col-10 offset-1 text-center" style="">
  			<strong>Success !</strong> <%- success %>
		</div>
	<% } %>
	<% if (typeof error !== 'undefined' && error && error !== 'none')  { %>
		<div class="alert alert-danger col-10 offset-1 text-center" style="">
  			<strong>Error !</strong> <%- error %>
		</div>
	<% } %>
	</div>
<script>
    $("input[type=file]").change(function () {
  var fieldVal = $(this).val();
  fieldVal = fieldVal.replace("C:\\fakepath\\", "");
  if (fieldVal != undefined || fieldVal != "") {
    $(this).next(".custom-file-label").text(fieldVal);
  }
});
</script>
</body>
<% include footer.ejs %>

</html>