<!DOCTYPE html>
<html>
<head>
	<% include header.ejs %>
</head>
<body>
	<% if (typeof users != 'undefined' && !empty(users)) { %>
	<div class="container-fluid text-center" style="background-color: rgb(230,230,230,0.5); color:white; padding: 10px; padding-top: 10px; margin-top:1rem;">
		<div class="container-fluid d-flex">
			<div class="col-2 inf">Login</div><hr class="hr2"><div class="col-3 inf">Firstname</div><hr class="hr2"><div class="col-3 inf">Lastname</div>
			<hr class="hr2"><div class="col-2 inf">Language</div><hr class="hr2"><div class="col-2 inf">Picture</div>
		</div>
		<% var i = 0; while (users[i]) { %>
		<div class="container-fluid infos d-flex" style="background-color: rgb(50,50,50,0.8); color:white; margin-top:0.5rem;">
			<div class="col-2 marginforpic"><%- users[i].login %></div><div class="col-3 marginforpic"><%- users[i].firstname %></div>
			<div class="col-3 marginforpic"><%- users[i].lastname %></div>
			<div class="col-2 marginforpic"><%- users[i].language %></div>
			<div class="col-2"><img src=<%- users[i].img %> width="40" height="40" style="border-radius: 20px;" alt=" Isn't on the server."></div>
		</div>
		<% i++; } } else { %>
		<div class="col-8 offset-2 text-center" style="background-color: rgb(230,230,230,0.5);padding:15px;margin-top:1rem;">
			<h3 style="font-weight: bold;"><i>There is not any profiles to show.</i></h3>
		</div>
		<% } %>
	</div>
</body>

<% include footer.ejs %>

</html>