<!DOCTYPE html>
<html lang="en">
<head>
	<% include header.ejs %>
</head>
<body>
    <a href="login" class="btn btn-link" style="margin-bottom: 0.5rem; margin-top: 1rem; ">Log-In</a>
	<div class="container text-center" style="background-color: rgb(100,100,100,0.5); color:white; padding: 25px; margin-top:1rem;">
		<form action="register" method="post" enctype="multipart/form-data">
	  		<div class="form-group row">
  				<label for="first" class="col-2 col-form-label"><%= __("Firstname") %></label>
  				<div class="col-8 offset-2">
    				<input class="form-control text-center" type="text" name="firstname" id="first" placeholder="First name">
  				</div>
			</div>
			<div class="form-group row">
  				<label for="last" class="col-2 col-form-label"><%= __("Lastname") %></label>
  				<div class="col-8 offset-2">
    				<input class="form-control text-center" type="text" name="lastname"  id="last" placeholder="Last name">
  				</div>
			</div>
			<div class="form-group row">
  				<label for="mail" class="col-2 col-form-label"><%= __("Email") %></label>
  				<div class="col-8 offset-2">
    				<input class="form-control text-center" type="email" name="mail" id="mail" placeholder="example@42.fr">
  				</div>
			</div>
			<div class="form-group row">
  				<label for="login" class="col-2 col-form-label"><%= __("Login") %></label>
  				<div class="col-8 offset-2">
    				<input class="form-control text-center" type="text" name="login" id="login" placeholder="Username">
  				</div>
			</div>
			<div class="form-group row">
  				<label for="pass" class="col-2 col-form-label"><%= __("Password") %></label>
  				<div class="col-8 offset-2">
    				<input class="form-control text-center" type="password" name="pass" id="pass" placeholder="Password">
  				</div>
			</div>
			<div class="form-group row">
  				<label for="passc" class="col-2 col-form-label"><%= __("Confirm") %></label>
  				<div class="col-8 offset-2">
    				<input class="form-control text-center" type="password" name="confirmpass" id="passc" placeholder="Confirm password">
  				</div>
			</div>
			<div class="form-group row">
  				<label for="lang" class="col-2 col-form-label"><%= __("Preference") %></label>
  				<div class="col-8 offset-2">
  				<select class="custom-select text-center" id="lang" name=lang style="text-align-last:center;">
    				<option value="en" selected>English</option>
    				<option value="fr">Francais</option>
    				<option value="de">Deutsche</option>
  				</select>
  				</div>
  			</div>
  			<div class="form-group row">
  				<label for="imgprofile" class="col-2 col-form-label" style=""><%= __("Picture") %></label>
  				<div class="col-8 offset-2">
    				<input type="file" class="custom-file-input" id="imgprofile" name="pic" accept="image/*">
    				<label class="custom-file-label" for="imgprofile" style="z-index: 0;">Choose file...</label>
    			</div>
  			</div>
			<button type="submit" class="btn btn-link" style="font-weight:bold; font-size: 20px; text-decoration: none;"><%= __("Sign Up Now !") %></button>
			
		</form>
		<% if (typeof error !== 'undefined' && error && error !== 'none')  { %>
		<div class="alert alert-danger" style="margin-bottom: 0px;">
  			<strong>Error !</strong> <%- __(error) %>
		</div>
		<% } %>
	</div>
<script>
    $("input[type=file]").change(function () {
  var fieldVal = $(this).val();
  fieldVal = fieldVal.replace("C:\\fakepath\\", "");
  if (fieldVal != undefined || fieldVal != "") {
    $(this).next(".custom-file-label").text(fieldVal);
  }
});
</script>
</body>
<% include footer.ejs %>

</html>