<!DOCTYPE html>
<html>
<head>
	<% include header.ejs %>
</head>
<body>
	<% if (typeof error !== 'undefined' && error && error !== 'none')  { %>
		<div class="alert alert-danger col-4 offset-4 text-center" style="margin-top:1rem;">
  			<strong>Error !</strong> <%- __(error) %>
		</div>
	<% } %>
	<% if (typeof result !== 'undefined' && result && result !== 'none')  { %>
		<div class="alert alert-success col-4 offset-4 text-center" style="margin-bottom: 0px; margin-top: 1rem;">
  			<%- '<strong>' + count + '</strong>' + ' results found for "' + decodeURI(q) + '".' %><!--  WTF ARE THESE QUOTES? faut traduire ceci xD -->
		</div>
		<div class="container-fluid" style="background-color: rgb(10,10,10,0.4); color:white; padding: 0px; margin:auto; margin-top:1em; justify-content: center; text-align: center;">
			<% var i = 0; while (result[i]) { var title = result[i].title.replace("/",'_'); %>
				<a href="/search/<%- result[i].identifier + '/' + title %>" style="color:#e9ecef; text-decoration: none;" ><div class="col-2 text-center" id="<%- i %>" style="margin:2vh 2vh 2vh 2vh; padding: 1px;border-radius: 4px; display: inline-block; justify-content: center; border: 2px solid black; box-shadow: 1px 1px 5px; overflow-y: auto; max-height: 300px; vertical-align: top; background-color: black;">
						<h5 style="min-height: 48px;"><i><%- result[i].title %></i></h5>
						<img src="https://archive.org/services/img/<%- result[i].identifier %>"" alt="torrent miniature" class="col-12" style="padding:0"></a>
						<div style="background-color: #e9ecef; padding: 2px; color:black;">
							<% if (result[i].avg_rating) { %>
							<p style="margin-bottom: 3px;"><i><%= __("Rating : ") %></i><b><%- result[i].avg_rating %> / 5.00</b></p> <% } %>
							<% if (result[i].language) { %>
							<p style="margin-bottom: 3px;"><i><%= __("Language : ") %> </i><b><%- result[i].language %></b></p> <% } %>
							<% if (result[i].date) { %>
							<p style="margin-bottom: 3px;"><i></i><b><%- result[i].date %></b></p> <% } %>
							<% if (result[i].publicdate) { %>
							<p style="margin-bottom: 3px;"><i><%= __("Publicdate : ") %> </i><b><%- result[i].publicdate %></b></p><% } %>
							<% if (result[i].downloads) { %>
							<p style="margin-bottom: 3px;"><i><%= __("Downloads : ") %> </i><b><%- result[i].downloads %></b></p><% } %>
							<% if (result[i].month) { %>
							<p style="margin-bottom: 3px;"><i><%= __("This month : ") %></i><b><%- result[i].month %></b></p><% } %>
							<% if (result[i].week) { %>
							<p style="margin-bottom: 3px;"><i><%= __("This week : ") %> </i><b><%- result[i].week %></b></p><% } %>
						</div>
						<div style="background-color: rgb(26, 26, 26); padding: 5px;">
							<p style="margin-bottom: 5px;"><i><b><%= __("Description : ") %></b></i></p>
							<div><%- result[i].description %></div>
						</div>
				</div>
			<% i++; } %>
		</div>
	<% } else { %>
		<div class="col-8 offset-2 text-center" style="background-color: rgb(230,230,230,0.5);padding:15px;margin-top:1rem;">
			<h3 style="font-weight: bold;"><i><%= __("No result found. ") %></i></h3>
		</div>
	<% } %>
</body>

<% include footer.ejs %>

</html>